// Export as CSS variables
:root {
  --deep-blue: #0047ab;
  --vivid-orange: #d35400;
  --hot-pink: #c2185b;
  --emerald-green: #78be20;
  --golden-yellow: #b88600;
  --firebrick-red: #a40021;
  --teal-blue: #007a8e;
  --deep-purple: #6a1b9a;
  --soft-charcoal: #333333; //	Primary Body Text	Use on White or Cream
  --cloud-white: #f9f9f9; //	Main Background	Use with Dark Text

  --ksw-color-action-primary-active: #003da5;
  --ksw-color-action-primary-default: #155dfc;
  --ksw-color-action-primary-base: #dbeafe;
  --ksw-color-action-secondary-active: #3b82f6;
  --ksw-color-action-secondary-default: #3a3b3d;
  --ksw-color-action-secondary-base: #f1f5f9;
  --ksw-color-action-tertiary-active: #487815;
  --ksw-color-action-tertiary-default: #78be20;
  --ksw-color-action-tertiary-base: #ebf4df;

  --ksw-border-width-default: 0.0825rem;
  --ksw-border-radius-rounded: 0.5rem;
  --ksw-color-border-default: #d1d5db;

  --ksw-font-size-default: 1rem;
  --ksw-font-line-height-default: 1.25rem;

  /* TEXT COLORS */
  --white: #ffffff;
  --black: #000000;
  --soft-charcoal: #333333;

  /* RADII */
  --radius-md: 0.375rem;
  --radius-pill: 9999px;

  /* SPACING TOKENS */
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
  /* BUTTON COLORS */

  // Text & Background
  --text-default: var(--soft-charcoal);
  --text-on-dark: #ffffff;
  --text-on-light: #000000;
  --bg-default: #ffffff;
  --bg-muted: var(--cloud-white);

  // Grade Colors
  --grade-0: var(--deep-blue);
  --grade-1: var(--vivid-orange);
  --grade-2: var(--hot-pink);
  --grade-3: var(--emerald-green);
  --grade-4: var(--golden-yellow);
  --grade-5: var(--firebrick-red);
  --grade-6: var(--deep-purple);
  --grade-7: var(--teal-blue);
}
