@use "tailwindcss";
@import 'colors';
@import 'components';
@import 'motion';
@import 'radius';
@import 'shadows';
@import 'spacing';
@import 'typography';


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
